.Projects-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    /* background: rgba(106, 137, 190, 0.303); */
    background-color: rgb(1, 29, 53);
}
.Projects-component > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    color: white;
    background: rgba(68, 68, 68, 0.769);
    position: relative;
    top: 20px;
    width: 100%;
    height: 150px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid rgb(221, 221, 221) 2.5px;
    border-top: solid rgb(221, 221, 221) 2.5px;
}
.project-title h1 {
    font-size: 100px;
    color: orange;
    text-shadow: 3px 2px 2px white, 0 0 25px rgb(48, 48, 48), 0 0 5px black;
}
.myProjects-container {
    /* background: black; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 1000px; */
    margin: 40px;
}
.myProjects {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    flex-direction: column;
    /* background: green; */
    /* height: 80%; */
    width: 80%;
}
.projects {
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border: solid rgb(221, 221, 221) 2.5px;
    padding: 40px;
}
.projects-inner {
    display: flex;
    justify-content: space-between;
}
.projects-main {
    background: orange;
    width: 70%;
    color: white;
    /* border-right: solid rgb(221, 221, 221) 2.5px; */
}

.projects-main img {
    
    /* border-bottom: solid rgb(221, 221, 221) 2.5px; */
    width: 100%;
    overflow: hidden;
}
.project-name-container {
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.projects-main a {
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.projects-main h2 {
    margin: 0;
    margin-top: 20px;
}
.small-images {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.small-images img {
    min-height: 50%;
    max-height: 50%;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    position: relative;
    right: 0;
    margin-left: 40px;
}
.project-links {
    /* background-color: purple; */
    display: flex;
    margin-bottom: 20px;
}
.project-links img {
    height: 80px;
}
.project-links p {
    margin: 0;
}
.project-links button {
    background-color: rgb(1, 29, 53);
    color: orange;
    border: none;
    height: 30px;
    margin: 10px;
}
.project-links button:hover {
    transition:color 1s ease-in, background .3s ease-in;
    background: white;
    color: rgb(1, 29, 53);
}
@media (max-width: 400px) {
    body {
        /* height: 1000px; */
        /* overflow: hidden; */
        /* position: fixed; */
    }
    #root {
        /* height: 100%;
        overflow: hidden; */
    }
    .App-component {
        background: salmon;
        height: 100%;
        /* overflow: hidden; */
    }
    .Projects-component {
        /* height: 1400px; */
        height: 100%;
        /* background: red; */
    }
    .Projects-component > div {
        /* background: gray; */
        /* overflow: hidden; */
    }
    .project-title {
        height: 50px;
        top: 100px;
    }
    .project-title h1 {
        font-size: 50px;
    }
    .myProjects-container {
        /* background: red; */
        position: relative;
        padding-top: 120px;
        margin: 0;
    }
    .myProjects {
        /* background: red; */
        top: 100px;
    }
    .projects {
        /* background: pink; */
        /* height: 20%; */
        padding: 20px;
        margin-bottom: 20px;
    }
    .projects-inner {
        background: white;
    }
    .projects-main {
        background: transparent;
        height: 90%;
        width: 100%;
    }
    .large-image-container {
        /* background: purple; */
        width: 100%;
    }
    .project-name-container {
        background: teal;
        height: 20%;
        padding: 10px;
        
    }
    .project-name-container h2 {
        font-size: 15px;
        /* background: black; */
    }
    .project-links {
        position: relative;
        top: 50px;
    }
    .small-images {
        display: none;
    }
    
}