.skills-component {
    display: flex;
    /* justify-content: center; */
    background-color: rgb(1, 29, 53);
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.skills-component img{
    height: 150px;
    margin: 0 20px;
}
.skills-component p {
    margin: 0;
    font-size: 30px;
}
.skills-inner-container {
    display: flex;
    background: whitesmoke;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* box-shadow: 12px 12px 24px 4px rgb(7, 7, 7); */
}
.descriptions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.skill_description {
    position: relative;
    background: whitesmoke;
    display: flex;
    margin: 20px;
    border: solid orange 2.5px;
}
.skill-title {
    height: 220px;
    width: 100px;
    margin-right: 20px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-title h2 {
    color: rgb(0, 153, 255);
    margin: 0;
    transform: rotate(90deg);
    /* background: orange; */
}
.skill-body {
    width: 800px;
    display: flex;
    align-items: center;
}
.skill-body p {
    text-align: left;
    position: relative;
    color: black;
}
.skill-body a {
    color: blue;
}

@media (max-width: 400px) {
    .skills-component {
        /* width: 400px; */
    }
    
    .skills-component img{
        
    }
    .skills-component p {
        font-size: 20px;
    }
    .skills-inner-container {
        height: 200px;
        top: 100px;
        position: relative;
        z-index: 5;
        width: 100%;
        flex-wrap: wrap;
        /* padding: 20px; */
    }
    .skills-inner-container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-inner-container p {
        font-size: 10px;
    }
    .skills-inner-container img {
        height: 50px;
        margin: 15px;
    }
    .descriptions {
        padding-top: 90px;
    }
    .skill_description {
        
    }
    .skill-title {
        width: 40px;
        height: 250px;
        flex-direction: column;
    }
    .skill-title h2 {
        color: rgb(0, 153, 255);
        margin: 0;
        transform: rotate(90deg);
        font-size: 20px;
        background: black;
        /* height: 1250px; */
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: row; */
    }
    .skill-body {
        width: 200px;
        display: flex;
        align-items: center;
    }
    .skill-body p {
        font-size: 15px;
        text-align: left;
        position: relative;
        color: black;
    }
    .skill-body a {
        color: blue;
    }
}


