.about-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 29, 53);
    color: white;
    padding-bottom: 50px;
}
.about-component h1 {
    font-size: 100px;
    color: orange;
    text-shadow: 3px 2px 2px white, 0 0 25px rgb(48, 48, 48), 0 0 5px black;
}
.about-component h2 {
    font-size: 40px;
    margin: 0;
}
.about-component p {
    /* font-size: 30px; */
    margin: 0;
    font-weight: 600;
}
.about-inner {
    display: flex;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 29, 53);
    height: 100%;
}
.about_title {
    width: 100%;
    /* height: 600px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 24px 4px rgba(7, 7, 7, 0.534);
    background: rgba(68, 68, 68, 0.769);
    border-bottom: solid rgb(221, 221, 221) 2.5px;
    border-top: solid rgb(221, 221, 221) 2.5px;
    align-items: center;
}

.about-main {
    border: solid orange 8px;
    color: white;
    display: flex;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 24px 4px rgb(7, 7, 7);
    flex-direction: column;
    background-color: whitesmoke;
}
.top-container {
    border-bottom: solid orange 8px;
    border-right: none;
    display: flex;
    height: 70%;
}
.bottom-container {
    height: 30%;
}
.image-container {
    /* border: white solid 6px; */
    height: 100%;
    width: 40%;
    /* width: 500px; */
    overflow: hidden;
    left: -550px;
    top: 50px;
}
.image-container img {
    height: 100%;
    position: relative;
    right: 120px;
}
.about-body {
    display: flex;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60%;
    height: 100%;
}
.about-body p {
    margin: 5px;
    color: black;
    /* font-size: 90%; */
}
.about-body ul {
    margin: 0;
}
.about-body li {
    color: black;
    /* font-size: 90%; */
    margin: 0;
    font-weight: 600;
}
.icons-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    /* background: red; */
}
.icon-image-container {
    background: green;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-image-container img {
    height: 70%;
}
.icon-row {
    display: flex;
    background: red;
    height: 80%;
}
.icons {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: pink;
}
.icons p {
    /* font-size: 15px; */
}


/* @media (max-height: 2000px) {
    .image-container {
        width: 100%;
        height: 350px;
        border: solid orange 4px;
    }
    .image-container img {
        height: 350px;
        position: relative;
        bottom: 0px;
        right:10px;
    }
    .about-body {
        display: flex;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: auto;
        background: white;
    }
    .about-body p {
        font-size: 18px;
        margin: 10px;
        color: black;
    }
    .about-body ul {
        margin: 0;
    }
    .about-body li {
        color: black;
        font-size: 18px;
        margin: 0;
        font-weight: 600;
    }
}
@media (max-width: 2000px) {
    .image-container img {
        right: 150px;
    }
}
@media (max-width: 1500px) {
    .image-container {
        height: 400px;
    }
    .image-container img {
        height: 100%;
        right: 220px;
    }
    .icons {
        margin: 15px 10px;
    }
    .icons-container img {
        height: 80px;
        
    }
    .icons p {
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    .about-component {
        position: relative;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        height: auto;
        
    }
    .about-component h1 {
        font-size: 50px;
    }
    .about-component h2 {
        font-size: 10px;
    }
    .about-component p {
        font-size: 10px;
        margin: 0;
        font-weight: 600;
    }
    .about-inner {
        top: 10px;
        width: 400px;
        display: flex;
        flex-direction: column;
        
    }
    .about_title {
        margin-bottom: 10px;
        height: 100px;
    }
    .about-main {
        background: red;
        flex-direction: column;
        border: orange solid 4px;
    }
    .top-container {
        border: none;
        top: 0;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .bottom-container {
        border: none;
        position: initial;
        width: 100%;
        background: white;
        
    }
    .image-container {
        width: 100%;
        border: none;
        background: black;
        height: 250px;
        border-bottom: solid orange 4px;
    }
    .image-container img {
        width: 300px;
        height: auto;
        position: relative;
        bottom: 50px;
        background:black;
        right:10px;
    }
    .about-body {
        display: flex;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: auto;
        background: white;
    }
    .about-body p {
        font-size: 15px;
        margin: 10px;
        color: black;
    }
    .about-body ul {
        margin: 0;
    }
    .about-body li {
        color: black;
        font-size: 15px;
        margin: 0;
        font-weight: 600;
    }
    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        display: none;
    }
    .icons-container img {
        height: 100px;
    }
    .icon-row {
        display: flex;
    }
    .icons {
        margin: 30px;
    }
} */