.about-component {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 29, 53);
    color: white;
}

.about_title {
    /* background: blue; */
}

.about-title-inner {
    /* background: red; */
    color: white;
}

.image-container {
    border: white solid 6px;
    height: 300px;
    width: 400px;
    overflow: hidden;
    transform: rotate(-20deg);
    position: fixed;
    left: 70px;
}
.image-container img {
    width: 410px;
    position: relative;
    bottom: 90px;
    
}