.home-component {
    display: flex;
    justify-content: center;
    /* background-origin: padding-box; */
    background-image: url('https://www.newgenapps.com/hubfs/canvas/images/parallax/Website-Design-Background.png');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    height: 100%;
    padding-top: 100px;
}
.background-image {
    position: fixed;
    height: 100%;
}
.background-image img {
    height: 100%;
}
.header {
    display: flex;
    width: 100vw;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* top: 80px; */
    height: calc(100vh - 200px);
}
.title {
    background: rgba(0, 0, 0, 0.392);
    height: 160px;
    border-bottom: solid rgb(221, 221, 221) 2.5px;
    border-top: solid rgb(221, 221, 221) 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* top: 30px; */
    /* left: 10px; */
    
}
.title-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-inner h1{
    font-size: 50px;
    /* color: rgb(135, 201, 245); */
    color: rgb(156, 213, 250);
    margin: 0;
    text-shadow: 3px 2px 2px orange, 0 0 25px rgb(48, 48, 48), 0 0 5px black;
}
.title-inner p {
    margin: 0;
    font-size: 20px;
    color: white;
}
.home-image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px orange solid;
    z-index: 5;
    position: relative;
    top: 50px;
    
}
.home-image img {
    height: 420px;
    position: relative;
    right: 150px;
    /* top: 5px; */
}
/* @media ( max-width: 900px ) {
    .home-image {
        width: 200px;
        height: 200px;
    }
    .home-image img {
        width: 200px;
        top: -40px;
    }
    .title-inner h1 {
        font-size: 50px;
    }
    .title-inner p {
        font-size:  20px;
    }
} */
@media (max-width: 420px){
    .App-component {
        /* overflow-y: hidden; */
    }
    .home-component{
        height: 530px;
        position: relative;
        top: 100px;
        position: fixed;
    }
    .header {
        top: 20px;
        justify-content: initial;
        height: 300px;
        /* background: green; */
    }
    .title {
        height: 100px;
        top: 0px
    }
    .home-image {
        height: 120px;
        width: 120px;
        top: 20px;
    }
    .home-image img {
        width: 120px;
        top: -20px;
        
    }
}