.home-component {
    display: flex;
    justify-content: center;
    /* background: blue; */
    /* width:100vw; */
    background-origin: padding-box;
    height: 100%;
}
.background-image {
    position: fixed;
    height: 100%;
}
.background-image img {
    height: 100%;
}
.header {
    display: flex;
    width: 100vw;
    /* background: yellow; */
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 80px;
    /* z-index: 5; */
}
.title {
    background: rgba(0, 0, 0, 0.392);
    height: 160px;
    border-bottom: solid rgb(221, 221, 221) 2.5px;
    border-top: solid rgb(221, 221, 221) 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* top: 30px; */
    /* left: 10px; */
    
}
.title-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-inner h1{
    font-size: 100px;
    /* color: rgb(135, 201, 245); */
    color: rgb(156, 213, 250);
    margin: 0;
    text-shadow: 3px 2px 2px orange, 0 0 25px rgb(48, 48, 48), 0 0 5px black;
}
.title-inner p {
    margin: 0;
    font-size: 30px;
    color: white;
}
.home-image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px orange solid;
    z-index: 5;
    position: relative;
    top: 50px;
    
}
.home-image img {
    width: 400px;
    position: relative;
    top: -60px;
}
@media ( max-width: 900px ) {
    .home-image {
        width: 200px;
        height: 200px;
    }
    .home-image img {
        width: 200px;
        top: -40px;
    }
    .title-inner h1 {
        font-size: 50px;
    }
    .title-inner p {
        font-size:  20px;
    }
}