.App {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background: red;
  /* display: flex; */
  /* position: absolute; */
}
body {
  /* position: fixed; */
}
p, h2 {
  font-weight: 600;
}